@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-light: #f9f9f9;
    --text-light: #000;
    --bg-dark: #121212;
    --text-dark: #fff;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  

.theme-toggle {
position: absolute;
top: 16px;
right: 16px;
display: flex;
align-items: center;
cursor: pointer;
}
.theme-toggle svg {
font-size: 1.5rem;
}
